.left_main {
    width: 75%;
    float: left;
}
@media screen and (max-width: 1050px) {
    .left_main {
        width: 100%;
    }
}


.left_main .swiper_box {
    width: 68.5%;
    float: left;
    height: 260px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}
@media screen and (max-width: 678px) {
    
    .left_main .swiper_box {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .left_main .swiper_box {
        height: 200px;
    }
}
.left_main .swiper_box .swiper_img {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s;
    transform-origin: 50% 50%;
    transform: rotateY(0deg);
}
.left_main .swiper_box .swiper_img li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.left_main .swiper_box .swiper_img li img {
    width: 100%;
    height: 100%;
}
.left_main .swiper_box .swiper_img li:nth-child(1) {
    transform: translateZ(-300px);
}
.left_main .swiper_box .swiper_img li:nth-child(2) {
    transform: rotateY(90deg) translateZ(300px);
}
.left_main .swiper_box .swiper_img li:nth-child(3) {
    transform: rotateY(90deg) translateZ(-300px);
}
.left_main .swiper_box .swiper_img li:nth-child(4) {
    transform: translateZ(300px);
}

.swiper_article {
    float: right;
    width: 30%;
}
@media screen and (max-width: 680px) {
   .swiper_article {
     width: 100%;
   }
}

.swiper_article ul li {
    height: 125px;
    background: #ccc;
}
.swiper_article ul li:nth-child(1) {
    margin-bottom: 10px;
}
@media screen and (max-width: 680px) {
    .swiper_article {
        margin-top: 10px;
    }
    .swiper_article ul li {
        float: left;
        width: 49%;
    }
    .swiper_article ul li:nth-child(2) {
        margin-left: 2%;
    }
 }
 @media screen and (max-width: 480px) {
    .swiper_article {
        /* margin-top: 10px; */
    }
    .swiper_article ul li {
        /* float: left;
        width: 49%; */
        height: 100px;
    }
    .swiper_article ul li:nth-child(2) {
        /* margin-left: 2%; */
    }
 }